body {
  text-align: center;
}
a {
  font-family: "Raleway";
  text-decoration: none;
  text-transform: uppercase;
  color: #F15B31;
  font-weight: 600;
  font-size: 18px;
}
h1, h2 {
  text-transform: uppercase;
  font-family: "Raleway";
  color: #0D2C40;
  letter-spacing: 1px;
}
h1 {
  font-weight: 400;
  font-size: 45px;

}
h2 {
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: "Droid Serif";
  line-height: 26px;
  font-size: 18px;
}
.social {
  line-height: 6px;
}
